<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footer-admin">
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2022. ce projet realiser auteur de module projet federateur</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">@ENSIAS <i class="ti-heart text-danger ml-1"></i></span>
        </div>
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Realiser par hamza mohammad maryem hasena imane </span>
        </div>
    </footer>
</div>

</body>
</html>