<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="ISO-8859-1">
  <title person ></title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container text-center">



  <h4><a th:href="@{/}">Click here to go home</a></h4>
  <br>
  <div>
    <h1 'List of Customer' ></h1>
  </div>

  <div  >
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>


        <th>Name</th>
        <th>E-mail</th>
        <th>Adresse</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
      </thead>
      <tbody >
      <tr th:each="person: ${clients}">
        <td th:text="${person.id}">User ID</td>
        <td th:text="${person.name}"> Name</td>
        <td th:text="${person.mail}">E-mail</td>
        <td th:text="${person.adress}">Adress</td>
        <td th:text="${person.phone}">phone</td>
        <td th:text="${person.status}">status</td>
        <td> <a  class="btn btn-warning" th:href="@{/Updateperosn/{id}(id=${person.id})}">Modifier</a></td>
        <td> <a  class="btn btn-danger" th:href="@{/deleteperson/{id}(id=${person.id})}">Supprimer</a></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>