<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <base href="../../static" target="_blank">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tableau de bord: Commande</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
    <!-- Plugin css for this page -->

    <!-- End plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link href="dist/css/tabular-input.css" rel="stylesheet" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>


    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.11.4/b-2.2.2/r-2.2.9/datatables.min.css"/>


    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.ico"/>


</head>
<body>
<div class="container-scroller">
    <!-- partial:nav-bar-admin-->
    <div th:replace="components/nav-bar-admin :: nav-bar-admin"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:sid-bar-admin.html -->
        <div th:replace="../templates/components/sid-bar-admin :: sid-bar-admin"></div>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Tableau de board : Commande<img src="images/commande.png">
                                </h3>
                                <h6 class="font-weight-normal mb-0">Cette view offre un tableau de board pour <span
                                        class="text-primary">gérer les bons de Commande</span>!</span></h6>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="justify-content-end d-flex">
                                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">

                                        <button type="button" class="btn btn-primary btn-md btn-block"
                                                data-toggle="modal" data-target="#CommandeModal">
                                            <i class="icon-head "></i>
                                            Ajouter un bon de Commande
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12">

                                    <div th:switch="${commande}">

                                        <div th:case="*">
                                            <div class="table-responsive p-3">
                                                <table class="table table-borderless" id="table_id">
                                                    <thead>

                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Référence</th>
                                                        <th>Fournisseur</th>
                                                        <th>Date de création</th>
                                                        <th>Action</th>
                                                    </tr>


                                                    </thead>
                                                    <tbody>


                                                    <tr th:each="co : ${commande}">

                                                        <td th:text="${co.id}"></td>
                                                        <td th:text="BC-+${co.reference}"></td>
                                                        <td th:text="${co.fournisseur.name}"></td>
                                                        <td th:text="${#dates.format(co.date, 'dd-MM-yyyy')}"></td>

                                                        <td>
                                                            <button type="button" class="btn btn-primary btn-icon-text p-lg-3" th:data-detail_id="${co.id}"	data-toggle="modal" data-target="#commandedetailModal">
                                                                <i class="ti-file btn-icon-prepend"></i>
                                                                Détails
                                                            </button>

                                                            <button type="button" class="btn btn-warning p-lg-3"
                                                                    data-toggle="modal" data-target="#CommandeModal">
                                                                Modifier
                                                            </button>
                                                            <button type="button" class="btn btn-danger p-lg-3" th:data-delete_id="${co.id}"
                                                                    data-toggle="modal" data-target="#removeconfigModal">
                                                                Supprimer
                                                            </button>
                                                        </td>


                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="modal fade" id="removeconfigModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form action="#" th:action="@{/supprimerCommande}" th:object="${commanderemove}" method="POST" th:target="_self">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeModalLabel">Attention !</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Voulez vous vraiment supprimer ce bon de commande ?
                            <input type="hidden" th:field="*{id}" id="delete_id" >

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                            <button type="submit" class="btn btn-primary">Oui</button>
                        </div>
                    </div>
                    </form>
                </div>

            </div>
            <div class="modal fade" id="CommandeModal" tabindex="-1" role="dialog" aria-labelledby="CommandeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg " role="document">
                    <div class="modal-content m-lg-4">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CommandeModalLabel">Ajouter un bon de commande</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="#" th:action="@{/ajouterCommande}"
                                       th:object="${commandeAdd}" method="POST"
                                       th:target="_self">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="row">
                                        <div class="col-md-12 grid-margin ">


                                                <div class="row">
                                                    <div class="col-md-6 grid-margin ">
                                                        <div class="card">

                                                            <div class="form-group">
                                                                <label>Sélectionner le fournisseur</label>
                                                                <select th:field="*{fournisseur}"
                                                                        class="form-control form-control-lg">
                                                                    <div th:each="fou :${fournisseur}">

                                                                        <option th:value="${fou.id}"
                                                                                th:text="${fou.name}"></option>

                                                                    </div>


                                                                </select>

                                                            </div>
                                                            <div class="form-group">
                                                                <label>Référence</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">BC-</span>
                                                                    </div>
                                                                    <input type="text" class="form-control"
                                                                           placeholder="1111" th:field="*{reference}"
                                                                           aria-label="Username">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputdate">Date de commande</label>
                                                                <input type="date" class="form-control"
                                                                       th:field="*{date}" placeholder="dd/mm/yyyy"
                                                                       id="exampleInputdate">
                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 grid-margin">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <p class="card-title mb-0">Article </p>
                                                                <br>

                                                                <table class="table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Le nom d'article</th>
                                                                        <th>Quantité</th>
                                                                        <th>Prix unitaire</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <select name="idarticle" class="form-control form-control-lg">
                                                                                <option value="Article" selected disabled>Nom article</option>
                                                                                <div th:each="article : ${composants}">
                                                                                    <option th:value="${article.id}"
                                                                                            th:text="${article.name}"></option>
                                                                                </div>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control"
                                                                                   name="quantite"/>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control"
                                                                                   name="prix"/>
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <select name="idarticle" class="form-control form-control-lg">
                                                                                <option value="Article" selected disabled>Nom article</option>
                                                                                <div th:each="article : ${composants}">
                                                                                    <option th:value="${article.id}"
                                                                                            th:text="${article.name}"></option>
                                                                                </div>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control"
                                                                                   name="quantite"/>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control"
                                                                                   name="prix"/>
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <select name="idarticle" class="form-control form-control-lg">
                                                                                <option value="Article" selected disabled>Nom article</option>
                                                                                <div th:each="article : ${composants}">
                                                                                    <option th:value="${article.id}"
                                                                                            th:text="${article.name}"></option>
                                                                                </div>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control"
                                                                                   name="quantite"/>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control"
                                                                                   name="prix"/>
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <select name="idarticle" class="form-control form-control-lg">
                                                                                <option value="Article" selected disabled>Nom article</option>
                                                                                <div th:each="article : ${composants}">
                                                                                    <option th:value="${article.id}"
                                                                                            th:text="${article.name}"></option>
                                                                                </div>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control"
                                                                                   name="quantite"/>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control"
                                                                                   name="prix"/>
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <select name="idarticle" class="form-control form-control-lg">
                                                                                <option value="Article" selected disabled>Nom article</option>
                                                                                <div th:each="article : ${composants}">
                                                                                    <option th:value="${article.id}"
                                                                                            th:text="${article.name}"></option>
                                                                                </div>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control"
                                                                                   name="quantite"/>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control"
                                                                                   name="prix"/>
                                                                        </td>

                                                                    </tr>




                                                                    </tbody>
                                                                </table>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                        </form>
                    </div>

                </div>
            </div>

            <!-- detail        -->
            <div class="modal fade" id="commandedetailModal" tabindex="-1" role="dialog" aria-labelledby="commandedetailModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg " role="document">
                    <div class="modal-content m-lg-4">
                        <div class="modal-header">
                            <h5 class="modal-title" id="commandedetailModalLabel">Détail d'un bon de Commande</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                            <div class="modal-body">
                                <div class="modal-body">

                                    <table class="table table-bordered">
                                        <thead>

                                        <tr>
                                            <th scope="col">Article</th>
                                            <th scope="col">Quantité</th>
                                            <th scope="col">Prix</th>
                                        </tr>
                                        </thead>
                                        <tbody id="zips">

                                        </tbody >

                                    </table>


                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            </div>

                    </div>

                </div>
            </div>

            <div th:replace="../templates/components/footer-admin :: footer-admin"></div>

        </div>


    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="vendors/js/vendor.bundle.base.js"></script>
<script src="js/select2.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:inline="javascript">
    $(document).on("click", ".hamza", function () {
        var reff = $(this).data('id');
        $(".input-hamza").val(reff);

        $('.modal fade').modal('show');
    });
    var r = 0;
    $('#commandedetailModal').on('show.bs.modal', function(event) {
        console.log(r);
        var button = $(event.relatedTarget);
        var id = button.data('detail_id');
        r = id;
        var url =[[@{'/lignecommandedetail'}]] +'?id='+id;
        console.log(r);
        $.ajax({
            type: 'GET',
            url:url,
            success : function(data) {
                $('#zips').html(data) ;
                console.log(data);
            }
        });
    });
    $(document).ready(function () {
        $('#table_id').DataTable({
            "language": {
                "emptyTable": "Aucune donnée disponible dans le tableau",
                "loadingRecords": "Chargement...",
                "processing": "Traitement...",
                "aria": {
                    "sortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                },
                "select": {
                    "rows": {
                        "1": "1 ligne sélectionnée",
                        "_": "%d lignes sélectionnées"
                    },
                    "cells": {
                        "1": "1 cellule sélectionnée",
                        "_": "%d cellules sélectionnées"
                    },
                    "columns": {
                        "1": "1 colonne sélectionnée",
                        "_": "%d colonnes sélectionnées"
                    }
                },
                "autoFill": {
                    "cancel": "Annuler",
                    "fill": "Remplir toutes les cellules avec <i>%d</i>",
                    "fillHorizontal": "Remplir les cellules horizontalement",
                    "fillVertical": "Remplir les cellules verticalement"
                },
                "searchBuilder": {
                    "conditions": {
                        "date": {
                            "after": "Après le",
                            "before": "Avant le",
                            "between": "Entre",
                            "empty": "Vide",
                            "not": "Différent de",
                            "notBetween": "Pas entre",
                            "notEmpty": "Non vide",
                            "equals": "Égal à"
                        },
                        "number": {
                            "between": "Entre",
                            "empty": "Vide",
                            "gt": "Supérieur à",
                            "gte": "Supérieur ou égal à",
                            "lt": "Inférieur à",
                            "lte": "Inférieur ou égal à",
                            "not": "Différent de",
                            "notBetween": "Pas entre",
                            "notEmpty": "Non vide",
                            "equals": "Égal à"
                        },
                        "string": {
                            "contains": "Contient",
                            "empty": "Vide",
                            "endsWith": "Se termine par",
                            "not": "Différent de",
                            "notEmpty": "Non vide",
                            "startsWith": "Commence par",
                            "equals": "Égal à",
                            "notContains": "Ne contient pas",
                            "notEnds": "Ne termine pas par",
                            "notStarts": "Ne commence pas par"
                        },
                        "array": {
                            "empty": "Vide",
                            "contains": "Contient",
                            "not": "Différent de",
                            "notEmpty": "Non vide",
                            "without": "Sans",
                            "equals": "Égal à"
                        }
                    },
                    "add": "Ajouter une condition",
                    "button": {
                        "0": "Recherche avancée",
                        "_": "Recherche avancée (%d)"
                    },
                    "clearAll": "Effacer tout",
                    "condition": "Condition",
                    "data": "Donnée",
                    "deleteTitle": "Supprimer la règle de filtrage",
                    "logicAnd": "Et",
                    "logicOr": "Ou",
                    "title": {
                        "0": "Recherche avancée",
                        "_": "Recherche avancée (%d)"
                    },
                    "value": "Valeur"
                },
                "searchPanes": {
                    "clearMessage": "Effacer tout",
                    "count": "{total}",
                    "title": "Filtres actifs - %d",
                    "collapse": {
                        "0": "Volet de recherche",
                        "_": "Volet de recherche (%d)"
                    },
                    "countFiltered": "{shown} ({total})",
                    "emptyPanes": "Pas de volet de recherche",
                    "loadMessage": "Chargement du volet de recherche...",
                    "collapseMessage": "Réduire tout",
                    "showMessage": "Montrer tout"
                },
                "buttons": {
                    "collection": "Collection",
                    "colvis": "Visibilité colonnes",
                    "colvisRestore": "Rétablir visibilité",
                    "copy": "Copier",
                    "copySuccess": {
                        "1": "1 ligne copiée dans le presse-papier",
                        "_": "%ds lignes copiées dans le presse-papier"
                    },
                    "copyTitle": "Copier dans le presse-papier",
                    "csv": "CSV",
                    "excel": "Excel",
                    "pageLength": {
                        "-1": "Afficher toutes les lignes",
                        "_": "Afficher %d lignes"
                    },
                    "pdf": "PDF",
                    "print": "Imprimer",
                    "copyKeys": "Appuyez sur ctrl ou u2318 + C pour copier les données du tableau dans votre presse-papier."
                },
                "decimal": ",",
                "search": "Rechercher:",
                "thousands": ".",
                "datetime": {
                    "previous": "Précédent",
                    "next": "Suivant",
                    "hours": "Heures",
                    "minutes": "Minutes",
                    "seconds": "Secondes",
                    "unknown": "-",
                    "amPm": [
                        "am",
                        "pm"
                    ],
                    "months": {
                        "0": "Janvier",
                        "1": "Février",
                        "2": "Mars",
                        "3": "Avril",
                        "4": "Mai",
                        "5": "Juin",
                        "6": "Juillet",
                        "7": "Août",
                        "8": "Septembre",
                        "9": "Octobre",
                        "10": "Novembre",
                        "11": "Décembre"
                    },
                    "weekdays": [
                        "Dim",
                        "Lun",
                        "Mar",
                        "Mer",
                        "Jeu",
                        "Ven",
                        "Sam"
                    ]
                },
                "editor": {
                    "close": "Fermer",
                    "create": {
                        "title": "Créer une nouvelle entrée",
                        "button": "Nouveau",
                        "submit": "Créer"
                    },
                    "edit": {
                        "button": "Editer",
                        "title": "Editer Entrée",
                        "submit": "Mettre à jour"
                    },
                    "remove": {
                        "button": "Supprimer",
                        "title": "Supprimer",
                        "submit": "Supprimer",
                        "confirm": {
                            "1": "Êtes-vous sûr de vouloir supprimer 1 ligne ?",
                            "_": "Êtes-vous sûr de vouloir supprimer %d lignes ?"
                        }
                    },
                    "error": {
                        "system": "Une erreur système s'est produite"
                    },
                    "multi": {
                        "noMulti": "Ce champ peut être édité individuellement, mais ne fait pas partie d'un groupe. ",
                        "title": "Valeurs multiples",
                        "restore": "Rétablir modification",
                        "info": "Les éléments sélectionnés contiennent différentes valeurs pour cette entrée. Pour modifier et définir tous les éléments de cette entrée à la même valeur, cliquez ou tapez ici, sinon ils conserveront leurs valeurs individuelles."
                    }
                },
                "stateRestore": {
                    "removeSubmit": "Supprimer",
                    "creationModal": {
                        "button": "Créer",
                        "name": "Nom :",
                        "order": "Tri",
                        "paging": "Pagination",
                        "scroller": "Position du défilement",
                        "search": "Recherche",
                        "select": "Sélection",
                        "toggleLabel": "Inclus :"
                    },
                    "renameButton": "Renommer"
                },
                "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                "infoEmpty": "Affichage de 0 à 0 sur 0 entrées",
                "infoFiltered": "(filtrées depuis un total de _MAX_ entrées)",
                "lengthMenu": "Afficher _MENU_ entrées",
                "paginate": {
                    "first": "Première",
                    "last": "Dernière",
                    "next": "Suivante",
                    "previous": "Précédente"
                },
                "zeroRecords": "Aucune entrée correspondante trouvée"
            }
        });
    });
    $(document).ready(function () {
        $('#table_id').DataTable();
    });


</script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.11.4/b-2.2.2/r-2.2.9/datatables.min.js"></script>
<script src="js/tabular-input.js"></script>


<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/template.js"></script>
<script src="js/settings.js"></script>
<script src="js/todolist.js"></script>

<script src="js/dashboard.js"></script>
<script src="js/Chart.roundedBarCharts.js"></script>
<script src="vendors/typeahead.js/typeahead.bundle.min.js"></script>
<script src="dist/js/tabular-input.js"></script>
<script>
    jQuery('#demo-2').tabularInput({
        'rows': 1,
        'columns': 4,
        'animate': true,
        'name': 'hamza',
        'columnHeads': ['Référence article', 'nom', 'quantité', 'prix unitaire']
    });
    $("#demo-2").tabularInput("addRow");			// Add a row at the end
    $("#demo-2").tabularInput("deleteRow");			// Delete the last row
    $("#demo-2").tabularInput("deleteRow", 2);

    // Delete row at index 2// Add a column at the end
    // Delete the last column


</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });


    $('#removeconfigModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)
        var delete_id = button.data('delete_id')
        var modal = $(this)
        modal.find('.modal-body #delete_id').val(delete_id);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!-- End custom js for this page-->
</body>

</html>

