<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
  <!-- Required meta tags -->
  <base href="../../static" target="_blank">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.ico" />

</head>
<body>
  <div class="container-scroller">
    <!-- partial:nav-bar-admin-->
    <div th:replace="components/nav-bar-admin :: nav-bar-admin"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->

      <!-- partial -->
      <!-- partial:sid-bar-admin.html -->
      <div th:replace="../templates/components/sid-bar-admin :: sid-bar-admin"></div>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Tableau de board : Emplacement <img  src="images/emplacement.png"></h3>
                  <h6 class="font-weight-normal mb-0">Cette view offret un tableau de board pour  <span class="text-primary">gere votre emplacement dans l'entrport</entrport>!</span></h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">


                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="row">
                <div class="col-md-12">
                  <div class="card-body">
                    <h4 class="card-title">L'etat actuelle de votre entrepot</h4>
                    <p class="card-description">Chaque rangee est identifie par<code>un color</code> defferents</p>
                    <div class="template-demo">
                      <button type="button" class="btn btn-primary btn-icon-text"  data-toggle="modal" data-target="#Modalsortie">
                        <i class="ti-file btn-icon-prepend"></i>
                        Entree encour
                      </button>
                      <button type="button" class="btn btn-primary btn-icon-text" data-toggle="modal" data-target="#Modalsortie">
                        <i class="ti-file btn-icon-prepend"></i>
                        Sortie encour
                      </button>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
              <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="example" class="display expandable-table table-bordered" style="width:100%">
                    <thead>
                    <tr>
                      <th></th>
                      <th>01A</th>
                      <th>01B</th>
                      <th>01C</th>
                      <th>02A</th>
                      <th>02B</th>
                      <th>02C</th>
                      <th>03A</th>
                      <th>03B</th>
                      <th>03C</th>

                      <th></th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr class="bg-warning">
                      <th style="color: white">A4</th>
                      <td class="p-0 m-0">
                        <button type="button" class="btn hamza w-100 h-100" data-id="a4-01a" data-toggle="modal" data-target="#exampleModal">
                          rege
                        </button>
                      </td>
                      <td class="p-0 m-0 ">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>


                    </tr>

                    <tr class="bg-warning">
                      <th style="color: white">A3</th>
                      <td class="p-0 m-0">
                        <button type="button" class="btn hamza w-100 h-100" data-id="a4-01a" data-toggle="modal" data-target="#exampleModal">
                          rege
                        </button>
                      </td>
                      <td class="p-0 m-0 ">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>
                      <td class="p-0 m-0">
                        <button type="button" class="btn w-100 h-100" data-toggle="modal" data-target="#exampleModal">
                          reff
                        </button>
                      </td>

                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>



        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="Modalsortie" tabindex="-1" role="dialog" aria-labelledby="sortieModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="sortieModalLabel">Sortie Encour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h4>La list des sortie encour</h4>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                    <tr>
                      <th class="pl-0  pb-1 border-bottom">Reference</th>
                      <th class="border-bottom pb-1">Emplacement</th>
                      <th class="border-bottom pb-1">dispo</th>
                      <th class="border-bottom pb-1">demande</th>
                      <th class="border-bottom pb-1">enleve</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="pl-0">0000122</td>
                      <td class="text-muted">3a05-1</td>
                      <td class="text-muted">8</td>
                      <td class="text-muted">3</td>
                      <td class="text-muted">1</td>


                    </tr>

                    </tbody>
                  </table>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content m-lg-4">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Case reference</span>
                    </div>
                    <input type="text" class="form-control input-hamza" value="" disabled>

                    <div class="table-responsive">
                      <table class="table table-borderless">
                        <thead>
                        <tr>
                          <th class="pl-0  pb-1 border-bottom">rangée</th>
                          <th class="border-bottom pb-1">niveaux</th>
                          <th class="border-bottom pb-1">rackes</th>
                          <th class="border-bottom pb-1">position</th>
                          <th class="border-bottom pb-1">occupation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="pl-0">A</td>
                          <td class="text-muted">5</td>
                          <td class="text-muted">8</td>
                          <td class="text-muted">3</td>
                          <td><p class="mb-0"><span class="font-weight-bold mr-2">65</span>(2.15%)</p></td>

                        </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="row">
                      <div class="col-md-12 grid-margin ">
                        <div class="row">
                          <div class="col-md-4 grid-margin ">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Emplacement action:</h4>
                                <p class="card-description">
                                  Gere votre entrepot <code>facilement</code> et <code>effecament</code>.
                                </p>
                                <div id="accordion">
                                  <div class="card ">
                                    <div class="card-header bg-success" id="headingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          Entrée de stock<i class="mdi mdi-chevron-double-down"></i>
                                        </button>
                                      </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                      <div class="card-body">
                                        <form class="forms-sample">

                                          <div class="form-group m-1">
                                            <label for="exampleFormControlSelect1">Sélectionner:le refference bon de reception</label>
                                            <select class="form-control form-control-lg" id="exampleFormControlSelect1">
                                              <option>Refference 1</option>
                                            </select>
                                          </div>

                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header bg-warning" id="headingTwo">
                                      <h5 class="mb-0">
                                        <button class="btn btn-warning" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Sortie de stock<i class="mdi mdi-chevron-double-down"></i>
                                        </button>

                                      </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                      <div class="card-body">
                                        <form class="forms-sample">

                                          <div class="form-group m-1">
                                            <label for="exampleFormControlSelect1">Sélectionner:le refference bon de sortie</label>
                                            <select class="form-control form-control-lg" id="exampleFormControlSelect1">
                                              <option>Refference 1</option>
                                            </select>
                                          </div>

                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingThree">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          Réinitialiser entrepot
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                      <div class="card-body">
                                        Réinitialiser
                                      </div>
                                    </div>
                                  </div>
                                </div>


                              </div>
                            </div>
                          </div>
                          <div class="col-md-8  grid-margin">
                            <div class="card">
                              <div class="card-body">
                                <p class="card-title mb-0">Entrepôt</p>
                                <div class="table-responsive">
                                  <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                      <th class="pl-0  pb-1 border-bottom">rangée</th>
                                      <th class="border-bottom pb-1">niveaux</th>
                                      <th class="border-bottom pb-1">rackes</th>
                                      <th class="border-bottom pb-1">position</th>
                                      <th class="border-bottom pb-1">occupation</th>
                                      <th class="border-bottom pb-1">action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                      <td class="pl-0">A</td>
                                      <td class="text-muted">5</td>
                                      <td class="text-muted">8</td>
                                      <td class="text-muted">3</td>
                                      <td><p class="mb-0"><span class="font-weight-bold mr-2">65</span>(2.15%)</p></td>
                                      <td>
                                        <button type="button" class="btn btn-dark btn-icon-text">
                                          Modifie
                                          <i class="ti-file btn-icon-append"></i>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-icon-text">
                                          <i class="ti-reload btn-icon-prepend"></i>
                                          Réinitialiser
                                        </button>
                                        <button type="button" class="btn btn-danger">Supprimer</button>

                                      </td>
                                    </tr>

                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>

                          </div>
                        </div>

                      </div>
                    </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

          <!-- partial -->
      </div>
        <!-- end Modal -->

        <div th:replace="../templates/components/footer-admin :: footer-admin"></div>

        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
<script>
  $(document).on("click", ".hamza", function () {
    var reff = $(this).data('id');
    $(".input-hamza").val( reff );

    $('.modal fade').modal('show');
  });
</script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

