<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
  <!-- Required meta tags -->
  <base href="../../static" target="_blank">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Configuration: Emplacement</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.ico" />

</head>
<body>
  <div class="container-scroller">
    <!-- partial:nav-bar-admin-->
    <div th:replace="components/nav-bar-admin :: nav-bar-admin"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->

      <!-- partial -->
      <!-- partial:sid-bar-admin.html -->
      <div th:replace="../templates/components/sid-bar-admin :: sid-bar-admin"></div>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Tableau de bord : Emplacement <img  src="images/emplacement.png"></h3>
                  <h6 class="font-weight-normal mb-0">Cette view offre un tableau de bord pour  <span class="text-primary">gérer votre emplacement dans l'entrepôt</entrport>!</span></h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">


                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="row">
                <div class="col-md-12">
                  <div class="card-body">
                    <h4 class="card-title">L'état Actuelle De Votre Entrepôt</h4>
                    <p class="card-description">Chaque rangée est identifié par<code>une couleur</code> différente</p>
                    <div class="template-demo">
                      <button type="button" class="btn btn-primary btn-icon-text"  data-toggle="modal" data-target="#Modalsortie">
                        <i class="ti-file btn-icon-prepend"></i>
                        Entrée en cours
                      </button>
                      <button type="button" class="btn btn-primary btn-icon-text" data-toggle="modal" data-target="#Modalsortie">
                        <i class="ti-file btn-icon-prepend"></i>
                        Sortie en cours
                      </button>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
              <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="example" class="display expandable-table table-bordered" style="width:100%">
                    <thead>
                    <tr>
                      <th></th>
                      <div th:each="ra : ${#numbers.sequence(1, rack)}" >
                    <div th:each="po: ${#numbers.sequence(1, position)}" >

                      <th th:text="'P'+${po}+'-R0'+${ra}"></th>
                    </div>
                    </div>

                    </tr>

                    </thead>
                    <tbody >
                    <div th:each="rangee:${configEmplacement} ">
                      <div th:each="ni: ${#numbers.sequence(1, niveau)} ">
                        <tr class="bg-warning">
                          <th style="color: white" th:text="${rangee.indexRangee}+${ni}" ></th>

                          <div th:each="ra : ${#numbers.sequence(1, rack)}" >
                            <div th:each="po: ${#numbers.sequence(1, position)}" >

                              <td class="p-0 m-0 ">
                                <div th:with="reff=${rangee.indexRangee}+${ni}+'-R'+${ra}+'-P'+${po}">

                                <button type="button" th:text="${emplacementRepository.existsByRefemplacement(reff)}? 'occupé' : 'vide'" th:data-delete_id="${reff}"
                                        th:data-rangee="${rangee.indexRangee}"
                                        th:data-niveau="${ni}"
                                        th:data-rack="${ra}"
                                        th:data-position="${po}"
                                        th:data-quantite="${emplacementRepository.existsByRefemplacement(reff)} ? ${ emplacementRepository.findByrefemplacement(reff).getPalette().getComposante().getQuantity()} : 'rein' "
                                        th:data-fichier="${emplacementRepository.existsByRefemplacement(reff)} ? BR-+${ emplacementRepository.findByrefemplacement(reff).getPalette().getFichierStock().getReception().getReference()} : 'rein' "
                                        th:data-palete="${emplacementRepository.existsByRefemplacement(reff)} ? RF-+${emplacementRepository.findByrefemplacement(reff).getPalette().getReference()} : 'rein' "
                                        th:data-article="${emplacementRepository.existsByRefemplacement(reff)} ? ${emplacementRepository.findByrefemplacement(reff).getPalette().getComposante().getName()} : 'rein' "
                                        th:data-occup="${emplacementRepository.existsByRefemplacement(reff)}? '100' : '0'"
                                        id='hamza' th:class="${emplacementRepository.existsByRefemplacement(reff)}? 'btn w-100 h-100 bg-success' : 'btn w-100 h-100'"  data-toggle="modal" data-target="#exampleModal"></button>
                                  <div>

                              </td>
                            </div>
                          </div>

                        </tr>

                      </div>
                    </div>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>



        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="Modalsortie" tabindex="-1" role="dialog" aria-labelledby="sortieModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="sortieModalLabel">Sortie Encour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h4>La list des sortie encour</h4>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                    <tr>
                      <th class="pl-0  pb-1 border-bottom">Reference</th>
                      <th class="border-bottom pb-1">Emplacement</th>
                      <th class="border-bottom pb-1">dispo</th>
                      <th class="border-bottom pb-1">demande</th>
                      <th class="border-bottom pb-1">enleve</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="pl-0">0000122</td>
                      <td class="text-muted">3a05-1</td>
                      <td class="text-muted">8</td>
                      <td class="text-muted">3</td>
                      <td class="text-muted">1</td>


                    </tr>

                    </tbody>
                  </table>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content m-lg-4">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Emplacement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Case reference</span>
                    </div>
                    <input type="text" class="form-control input-hamza" id="input-hamza" value="" disabled>

                    <div class="table-responsive">
                      <table class="table table-borderless">
                        <thead>
                        <tr>
                          <th class="pl-0  pb-1 border-bottom">rangée</th>
                          <th class="border-bottom pb-1">niveau</th>
                          <th class="border-bottom pb-1">rack</th>
                          <th class="border-bottom pb-1">position</th>
                          <th class="border-bottom pb-1">occupation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td id="rangee"class="pl-0"></td>
                          <td id="niveau" class="text-muted"></td>
                          <td id="rack"class="text-muted"></td>
                          <td id="position" class="text-muted"></td>
                          <td ><p class="mb-0"><span id="occup" class="font-weight-bold mr-2"></span>%</p></td>

                        </tr>

                        </tbody>
                      </table>
                      <h4>Le contenu de cet emplacement</h4>

                      <table class="table table-borderless">
                        <thead>
                        <tr>
                          <th class="pl-0  pb-1 border-bottom">Ref palette</th>
                          <th class="border-bottom pb-1">Article</th>
                          <th class="border-bottom pb-1">Quantité</th>
                          <th class="border-bottom pb-1">Ref réception</th>

                        </tr>
                        </thead>
                        <tbody >
                        <tr >
                          <td class="pl-0" id="palete">A</td>
                          <td class="text-muted" id="article"></td>
                          <td class="text-muted" id="quantite"></td>
                          <td class="text-muted" id="fichier"></td>
                        </tr>

                        </tbody>
                      </table>

                    </div>
                    </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              </div>
            </div>
          </div>
        </div>

          <!-- partial -->
      </div>
        <!-- end Modal -->

        <div th:replace="../templates/components/footer-admin :: footer-admin"></div>

        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->


  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
    <script type="text/javascript">
      $('#exampleModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)
        var delete_id=button.data('delete_id')
        var rangee = button.data('rangee')
        var niveau = button.data('niveau')
        var rack = button.data('rack')
        var position = button.data('position')
        var occupation = button.data('occup')
        var article = button.data('article')
        var quantite = button.data('quantite')
        var fichier = button.data('fichier')
        var modal = $(this)
        modal.find('.modal-body #quantite').text(quantite);
        var modal = $(this)
        modal.find('.modal-body #fichier').text(fichier);

        var palete = button.data('palete')
        var modal = $(this)
        modal.find('.modal-body #palete').text(palete);

        var modal = $(this)
        modal.find('.modal-body #input-hamza').val(delete_id);
        var modal = $(this)
        modal.find('.modal-body #rangee').text(rangee);
        var modal = $(this)
        modal.find('.modal-body #niveau').text(niveau);
        var modal = $(this)
        modal.find('.modal-body #rack').text(rack);
        var modal = $(this)
        modal.find('.modal-body #position').text(position);
        var modal = $(this)
        modal.find('.modal-body #occup').text(occupation);
        var modal = $(this)
        modal.find('.modal-body #article').text(article);
      })

    </script>


</body>

</html>

