<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <base href="../../static" target="_blank">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Configuration: Emplacement</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.ico" />

</head>
<body>
<div class="container-scroller">
    <!-- partial:nav-bar-admin-->
    <div th:replace="components/nav-bar-admin :: nav-bar-admin"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:sid-bar-admin.html -->
        <div th:replace="../templates/components/sid-bar-admin :: sid-bar-admin"></div>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Configuration: Emplacement <img  src="images/control.png"></h3>
                                <h6 class="font-weight-normal mb-0">Cette view offre la possibilite  <span class="text-primary">de configure l'emplacement d'entreport</span></h6>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="justify-content-end d-flex">
                                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 grid-margin ">
                        <div class="row">
                            <div class="col-md-8  grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-title mb-0">Entrepôt</p>
                                        <div th:switch="${configemplacements}">
                                            <h2 th:case="null">aucun configuration!</h2>
                                            <div th:case="*">
                                                <div class="table-responsive">
                                                    <table class="table table-borderless">
                                                        <thead>
                                                        <tr>
                                                            <th class="pl-0  pb-1 border-bottom">rangée</th>
                                                            <th class="border-bottom pb-1">niveau</th>
                                                            <th class="border-bottom pb-1">racke</th>
                                                            <th class="border-bottom pb-1">position</th>
                                                            <th class="border-bottom pb-1">occupation</th>
                                                            <th class="border-bottom pb-1">action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="config : ${configemplacements}">

                                                            <td class="pl-0" th:text="${config.indexRangee}"></td>
                                                            <td class="text-muted"  th:text="${config.numNiveau}"></td>
                                                            <td class="text-muted" th:text="${config.numRack}"></td>
                                                            <td class="text-muted" th:text="${config.numPosition}"></td>
                                                            <td><p class="mb-0"><span class="font-weight-bold mr-2" th:text="${config.occupation}"></span>%</p></td>
                                                            <td> <button type="button" class="btn btn-warning btn-icon-text">
                                                                <i class="ti-reload btn-icon-prepend"></i>
                                                                Réinitialiser
                                                            </button>

                                                                <button type="button" class="btn btn-danger" th:data-delete_id="${config.indexRangee}"	data-toggle="modal" data-target="#removeconfigModal">Supprimer</button>

                                                            </td>

                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 grid-margin ">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Emplacement action:</h4>
                                        <p class="card-description">
                                            Gere votre entrepot <code>facilement</code> et <code>effecament</code>.
                                        </p>
                                        <div id="accordion">


                                            <div class="card ">

                                                <div class="card-header bg-success" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Ajouter nouveaux rangé <i class="mdi mdi-chevron-double-down"></i>
                                                        </button>
                                                    </h5>
                                                </div>

                                                <form action="#" th:action="@{/ajouterrangee}" th:object="${rangee}" method="POST" th:target="_self">
                                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="form-group m-1">
                                                            <label for="indexRangee">Sélectionner: une index pour le nouveaux rangée</label>
                                                            <select th:field="*{indexRangee}" class="form-control form-control-lg" id="indexRangee" >
                                                                <option th:value="'A'" th:text="A"></option>
                                                                <option th:value="'B'" th:text="B"></option>
                                                                <option th:value="'C'" th:text="C"></option>
                                                                <option th:value="'D'" th:text="D"></option>
                                                                <option th:value="'E'" th:text="E"></option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group m-1">
                                                            <label for="numNiveau">Sélectionner:Combien des niveau </label>
                                                            <select th:field="*{numNiveau}" class="form-control form-control-lg" id="numNiveau" >
                                                                <option th:value="'1'" th:text="1"></option>
                                                                <option th:value="'2'" th:text="2"></option>
                                                                <option th:value="'3'" th:text="3"></option>
                                                                <option th:value="'4'" th:text="4"></option>
                                                                <option th:value="'5'" th:text="5"></option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group m-1">
                                                            <label for="numRack">Sélectionner: combien des racks </label>
                                                            <select th:field="*{numRack}" class="form-control form-control-lg" id="numRack" >
                                                                <option th:value="'1'" th:text="1"></option>
                                                                <option th:value="'2'" th:text="2"></option>
                                                                <option th:value="'3'" th:text="3"></option>
                                                                <option th:value="'4'" th:text="4"></option>
                                                                <option th:value="'5'" th:text="5"></option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group m-1 mb-3">
                                                            <label for="numPosition">Sélectionner: combien des position dans chaque rack </label>
                                                            <select th:field="*{numPosition}" class="form-control form-control-lg" id="numPosition" >
                                                                <option th:value="'1'" th:text="1"></option>
                                                                <option th:value="'2'" th:text="2"></option>
                                                                <option th:value="'3'" th:text="3"></option>
                                                                <option th:value="'4'" th:text="4"></option>
                                                                <option th:value="'5'" th:text="5"></option>
                                                            </select>
                                                        </div>

                                                        <input type="hidden" th:value="0" th:field="*{occupation}">
                                                        <button type="submit" class="btn btn-primary mr-2 mb-3">Ajouter</button>
                                                        <div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>


                                            <div class="card">
                                                <div class="card-header bg-warning" id="headingThree">
                                                    <h5 class="mb-0">
                                                        <button class="btn bg-warning " data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                            Libérer tous les occupations<i class="mdi mdi-chevron-double-down"></i>
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">

                                                    <form action="#" th:action="@{/libérerToutRangee}"  method="POST" th:target="_self">
                                                        <div class="card-body">
                                                            Voulez vous vraiment Libérer tous les occupations ?

                                                            <button type="submit" class="btn btn-primary mr-2 mb-3">Oui</button>
                                                        </div>

                                                    </form>



                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header bg-danger" id="headingTwo">
                                                    <h5 class="mb-0">
                                                        <button class="btn bg-danger" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                            vide entrepot<i class="mdi mdi-chevron-double-down"></i>
                                                        </button>

                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                    <form action="#" th:action="@{/supprimerToutRangee}" method="POST" th:target="_self">



                                                        <div class="card-body">
                                                            Voulez vous vraiment supprimer touts les rangées ?


                                                            <button type="submit" class="btn btn-primary mr-2 mb-3">Oui</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>

                <div class="modal fade" id="removeconfigModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form action="#" th:action="@{/supprimerEmplacement}" th:object="${id}" method="POST" th:target="_self">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeModalLabel">Attention !</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <p>Voulez vous vraiment supprimer cette rangé ?</p>
                                    <input type="hidden" th:field="*{indexRangee}" id="delete_id" >


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <button  type="submit" class="btn btn-primary" >Oui</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>


                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <div th:replace="../templates/components/footer-admin :: footer-admin"></div>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->

        </div>
    </div>
    <!-- container-scroller -->
</div>

    </script>
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <script src="vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <script src="js/Chart.roundedBarCharts.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- End custom js for this page-->

    <script type="text/javascript">
        $('#removeconfigModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget)
            var delete_id = button.data('delete_id')
            var modal = $(this)
            modal.find('.modal-body #delete_id').val(delete_id);
        })
    </script>
</body>

</html>

